.all-categories-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.all-categories-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.all-categories-sidebar {
      width: 220px;
    border-right: 2px solid #ececec;
    padding-right: 20px;
    height: 88vh;
}

.all-categories-nav {
  list-style: none;
  padding: 0;
}

.all-categories-nav-item {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #f8f9fa;
  transition: background 0.3s;
}

.all-categories-nav-item:hover {
  background: #e9ecef;
}

.all-categories-nav-item.active {
  background-color: var(--primary-color);
  color: white;
}

.all-categories-main {
  flex: 1;
}

.all-categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.all-categories-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  background: white;
  transition: transform 0.3s;
}

.all-categories-card:hover {
  transform: translateY(-5px);
}

.all-categories-card-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.all-categories-card-body {
  padding: 15px;
  text-align: center;
}

.all-categories-card-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.all-categories-btn {
  background-color: var(--primary-color);
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    margin: -19px 0px 0px !important;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    bottom: -15px;
    position: relative;
}

h2.all-categories-main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 16px 21px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.all-categories-empty {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}