.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f5f5f5;
  }
  
  .login-box {
    /* background: #fff; */
    padding: 30px 35px;
    border-radius: 8px;
    /* box-shadow: 0 4px 16px rgba(0,0,0,0.1); */
    width: 100%;
    max-width: 400px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-input {
        width: 100%;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid #cccccce3;
    font-size: 15px;
    box-shadow: inset 0px 4px 9px 0px #00000024;
  }
  
  .error-text {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    display: block;
  }
  
  .forgot-password {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  
  .forgot-btn {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .forgot-btn:hover {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .btn-submit {
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
     box-shadow: 0px 4px 9px 0px #00000024;
     letter-spacing: 1px;
  }
  
  .btn-submit:hover {
    background-color: var(--secondary-color);
  }
  

  .login-image img {
    height: 411px;
    object-position: center;
    object-fit: contain;
}

.login-image {
    text-align: center;
}

.login-container .row {
    padding: 55px;
    background: white;
    box-shadow: 0px 0px 20px 0px #0000000a;
    width: 81%;
    margin: auto;
}